
/*==============================================
    GENERAL  STYLES    
    =============================================*/

/* font export*/

@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');


    body {
    font-family: 'Open Sans', sans-serif;
    line-height:30px;
}

 #wrapper {
    width: 100%;
    margin-top:50px;
}

.logotipo{
    color: aqua;
    font-family: 'Righteous', cursive;
    font-size: 50px;
    margin-top: auto;
}


.lottus{
    width: 650px;
    height: 80px;
    position:fixed;
}

#page-wrapper {
    padding: 15px 15px;
    min-height: 600px;
    background:#F3F3F3;
   
}
#page-inner {
    width:100%;
    margin:10px 20px 10px 10px;
    background-color:#fff!important;
    padding:10px;
    min-height:10px;
}
.pad-top {
    padding-top:15px;
}
/*==============================================
    MENU STYLES    
    =============================================*/

.sidebar-collapse .nav {
	padding:0;
    padding-top:50px;
}

.sidebar-collapse > .nav > li > a {
	padding:15px 10px;
    color: #0f1b0c;
font-weight: 900;
font-size: 16px;
}
.sidebar-collapse > .nav > li {
	border-bottom:1px solid #e1e1e1;
}
.sidebar-collapse .nav > li > a:hover,
.sidebar-collapse .nav > li > a:focus {
	
	background:#F3F3F3;
	outline:0;
}

.navbar-side {
	border:none;
	background-color: #fff;
	
}
.navbar-inverse {

background-color: blue;
border-color: #F0F0F0;
min-height: 70px;
}


.nav > li > a > i {
    margin-right:10px;
}
.logout-spn {
    float:right;
    color:#fff;
    font-size:25px;
    font-weight:800;
    margin:20px;
    margin: 10px 25px 10px 50px;
}
    .logout-spn a {
        text-decoration:none;
    }
.active-link {
    background-color:#f3f3f3;
}
    
/*==============================================
    DASHBOARD STYLES    
    =============================================*/
.div-square {
    padding:5px;
    border:3px double #ccb7b7;
    -webkit-border-radius:8px;
   -moz-border-radius:8px;
    border-radius:8px;
    margin:5px;

}

.div-square> a,.div-square> a:hover {
    color:#808080;
     text-decoration:none;
}
/*==============================================
    FOOTER STYLES     
    =============================================*/
.footer {
    background-color:blue;
    width:100%;
    color:#fff;
    padding:20px 50px 20px 50px;
     padding-left:20px;
     
}


    .footer > a, .footer>a:hover {
       
        color:#fff;
    }

/*==============================================
    MEDIA QUERIES     
    =============================================*/
 
 @media(max-width:1366px) {
     #page-wrapper{
               margin: 0 0 0 500px;
        padding: 5px 30px;
        max-height: 1050px;
    }
    .navbar-side {
        z-index: 1;
        position: absolute;
        width: 260px;
       
    }

    .lottus{
        top:0px;
    }

    .div-square {
        padding:5px;
        border:3px double #ce0808;
        -webkit-border-radius:8px;
       -moz-border-radius:8px;
        border-radius:8px;
        margin:5px;
 
}

#page-inner {
    width:100%;
    margin:10px 20px 10px 0px;
    background-color:#fff!important;
    padding:10px;
    min-height:1060px;}
   


 }