/* fonts */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Prompt:wght@300;600&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}



.img-background {
    position: fixed;
    width: 55%;
    height: 100%;
    background-image: url(../img/campo.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -2;
    border-radius: 20px;
}

.login-section {
    position: relative;
    left: 118vh;
    top:40px;
    margin: 0;
    height: 600px;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-login { 
 position: relative;
bottom: 40%;
font-size: 25px;
font-family: 'Baloo 2', cursive;
}
/* imputs */


*, *:after, *:before {
	box-sizing: border-box;
}

img {
	max-width: 100%;
	display: block;
}

/*  iOS Reset  */
input {
	appearance: none;
	border-radius: 0;
}

.card {
	margin: 1rem auto;
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 425px;
	background-color: #FFF;
	border-radius: 10px;
	box-shadow: 0 10px 20px 0 rgba(#999, .25);
	padding: .75rem;
}


.card-heading {
	position: relative;
	left:0.5%;
	top: 63%;
	right: 5%;
	font-size: 6rem;
	font-weight: 700;
	color:#000;
    font-family: 'Baloo 2', cursive;
	line-height: 1.222;
	
}

.logo { 
    position: relative;
    left: 40%;
}

.card-form {
	padding: 2rem 1rem 0;
}

.input {
    font-family: 'Baloo 2', cursive;
	display: flex;
	flex-direction: column-reverse;
	position: relative;
	padding-top: 1.5rem;
	
}

.input-label {
	color: #8597a3;
	position: absolute;
	top: 1.5rem;
	transition: .25s ease;
}

.input-field {
    
	border: 0;
	z-index: 1;
	background-color: transparent;
	border-bottom: 2px solid #eee; 
	font: inherit;
	font-size: 1.125rem;
	padding: .25rem 0;
	
}

.action {
	margin-top: 2rem;
}

.action-button {
    font-family: 'Baloo 2', cursive;
	font: inherit;
	font-size: 1    rem;
	padding: 1em;
	width: 100%;
	font-weight: 500;
	background-color: green;
	border-radius: 6px;
	color: #FFF;
	border: 0;
	
}

.action-button-register {
font-family: 'Baloo 2', cursive;
background-color: green;
color: #FFF;
border: 0;
width: 50%;
border-radius: 6px;
position: relative;
left: 25%;
}

.card-info {
	padding: 1rem 1rem;
	text-align: center;
	font-size: .875rem;
	color: #8597a3;
}